@import "../../../global/constants";

.post {
  padding-bottom: 2em;
}
.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {
  color: #444;
  line-height: 1.8em;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: $white;
  background: #999;
  font-size: 80%;
}
.post-category-design {
  background: #5aba59;
}
.post-category-pure {
  background: #3876CC;
}
.post-category-yui {
  background: #8156a7;
}
.post-category-js {
  background: #df2d4f;
}

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: $white;
  text-shadow: 0 1px 1px #333;
}

.paginator{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  list-style: none; 
  padding: 0px;
}

.pure-img{
  margin: auto;
  max-width: 100%;
}

.post-date{
  color: #737373;
}

@media only screen and (max-width: 48em) {   
  .post-meta{
    .post-date{
      display: block; 
      width: max-content;
    }
  
    .post-category {
      display: inline-block; 
      width: max-content;
      margin-bottom: 0.3em;
    }
  }  
}
